html {
  margin: 0px;
  padding: 0;
  border: none;
}
body {
  width: 300px;
  /* min-height: 200px; */
  margin: 15px;
  height: fit-content;
}

.titleBar {
  position: relative;
  height: fit-content;
  width: 100%;
  display: block;
  background: none;
}

.allData {
  display: block;
  position: relative;
  margin: 20px 0 20px 0;
}

#newPage {
  position: relative;
  bottom: 15px;
  margin-top: 15px;
}

#noData {
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
}

#count {
  font-weight: 600;
}

#noSaved {
  font-weight: 600;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 30px; /* 60 */
  height: 17px; /* 34 */
  right: 0px;
  top: 8px;
  z-index: 10000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 0.5px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

mark {
  background: orange;
  color: black;
}

/* Tag bar */

#tagBar p {
  display: inline-block;
}

#tagBar {
  padding: 10px 0px 10px 0px;
}

.tagify {
  display: inline-block;
}

/* highlight colors */
.highlightText {
  margin: 10px 0 20px 10px;
  border-left: 2px solid;
  padding-left: 10px;
}

.yellow-light {
  border-color: #fbbe64;
}

.green-light {
  border-color: #4eeca0;
}

.blue-light {
  border-color: #82d2ff;
}

.pink-light {
  border-color: #ffa7ac;
}
