@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700;800;900&display=swap");

/* my blue: #3595f6 */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.h1,
.h2,
.h3,
.h4 {
  letter-spacing: -0.02rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  opacity: 0;
  animation: pageLoad 0.75s forwards;
  margin: 0;
  font-family: "Roboto", "sans-serif";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #e9ecef;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes pageLoad {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #343a40;
}

h1,
.h1 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 1.875rem;
  }
}

h3,
.h3 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 0.938rem;
}

h6,
.h6 {
  font-size: 0.75rem;
}

blockquote {
  border-left: 3px solid #00cc8f;
  color: #000;
  line-height: 1.8em;
  margin: 1.1em 1.5em;
  margin-left: 0.4rem;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}
blockquote:after {
  content: "\201C";
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: grey;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}

blockquote:active:after {
  transform: rotateY(360deg);
}

blockquote:hover {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgb(0 0 20 / 8%), 0px 1px 2px rgb(0 0 20 / 8%);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.ms-auto {
  margin-left: auto !important;
}

.px-6 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.pt-10 {
  padding-top: 4rem !important;
}

.pb-21 {
  padding-bottom: 9.5rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background-color: #3595f6 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-secondary {
  background-color: #6c757d !important;
  font-weight: 500 !important;
  margin: 0 2px;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.collapse.in {
  display: block;
}

#db-wrapper {
  overflow-x: hidden;
  display: flex;
}

#page-content {
  min-height: 100vh;
  min-width: 100vw;
  transition: margin 0.25s ease-out;
}

@media (max-width: 576px) {
  #page-content {
    margin-left: 0rem;
  }
  #db-wrapper.toggled #page-content {
    margin-left: 15.6875rem;
  }
}

@media (min-width: 768px) {
  .navbar-vertical {
    margin-left: 0rem;
  }
  #page-content {
    min-width: 0rem;
    width: 100%;
  }
  #db-wrapper.toggled .navbar-vertical {
    margin-left: -16rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #page-content {
    margin-left: 0rem;
  }
  #db-wrapper.toggled #page-content {
    margin-left: 15.6875rem;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
  border: 0px;
  border-radius: 0.5rem;
}

.articleCard {
  margin-bottom: 1.5rem;
}
.articleTitle {
  font-weight: 700;
  font-size: 1.3rem;
}

.hidden {
  transition: 0.5s ease-out;
  display: none;
}

/* highlight colors */

.yellow-light {
  border-left: solid 3px #fbbe64;
}

.green-light {
  border-left: solid 3px #4eeca0;
}

.blue-light {
  border-left: solid 3px #82d2ff;
}

.pink-light {
  border-left: solid 3px #ffa7ac;
}

.btn-icon {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 0.92969rem;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.mt-n22 {
  margin-top: -10rem !important;
}

span.articleDeleteBtn {
  position: absolute;
  top: 0xp;
  right: 0px;
  font-size: 1.5rem;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  /* height: 2rem; */
  /* width: 2rem; */
  text-align: center;
  display: inline-table;
  height: min-content;
}

/* Drop down svg */

svg.feather.feather-triangle {
  height: 1rem;
  width: 1rem;
  fill: grey;
  stroke: grey;
  transform: rotate(90deg);
  margin-right: 0.5rem !important;
  transition: 0.25s ease-out;
}

svg.feather.feather-triangle.down {
  height: 1rem;
  width: 1rem;
  fill: lightgrey;
  stroke: lightgrey;
  transform: rotate(180deg);
  margin-right: 0.5rem !important;
}

span.emoji {
  margin-right: 0.5rem !important;
}

.cta {
  color: #000;
  background-color: #ffc107;
  border-color: black;
  border: 2px solid;
  font-weight: 700;
}

.pageHeading {
  font-size: xx-large;
  color: black !important;
}

.overViewCount {
  margin: 0;
  padding: 0px 10px;
  color: black;
  font-weight: 600;
}

.overviewCard {
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  box-shadow: none;
}
.overviewCard:hover {
  background-color: lightgoldenrodyellow;
}

#overViewBar {
  margin-top: 3rem;
  z-index: 5;
}

@media (min-width: 100px) {
  .overviewCardContainer {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 576px) {
  .overviewCardContainer {
    margin-bottom: 1.5rem;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .overviewCardContainer {
    margin-bottom: 0;
  }
}

/* Table */
tr {
  color: #141417;
}

body {
  background-color: white;
}

.bi.bi-caret-down-fill,
.bi.bi-caret-up-fill {
  color: darkslategrey;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.articleLink {
  padding: 10px;
  border: 1px solid transparent;
}

.articleLink:hover {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.action {
  display: flex;
  justify-content: space-between !important;
}

.deleteBtn {
  position: absolute;
  right: 1.5rem;
}

.overviewBold {
  display: inline-block;
  width: 6rem;
  color: #3e4444;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.overview {
  margin: 0.5rem 0;
}

span.tagify__input {
  width: 10rem;
}

tags.tagify {
  display: inline-block;
  width: 80%;
}

.focus#page-content {
  margin-left: 0 !important;
}

#main-header {
  position: absolute;
  left: 50%;
  right: 50%;
  background: transparent !important;
  vertical-align: middle;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
}

#brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  font-family: "merriweather";
  border: 2px solid black;
  border-radius: 0.6rem;
  padding: 3px 15px;
  background: white;
}

#focus-brand {
  position: absolute;
  left: 50%;
  right: 50%;
  width: max-content;
  margin-left: -3.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  font-family: "merriweather";
  border: 2px solid black;
  border-radius: 0.6rem;
  padding: 3px 15px;
  background: white;
}

#header-background {
  background-image: url(assets/images/papyrus.png), url(assets/images/papyrus-flip.png);
  background-repeat: repeat-x;
}

#background-blur {
  position: absolute;
  height: 3rem;
  width: 100vw;
  top: 12rem;
  background: white;
  opacity: 2;
  box-shadow: white 0px 0px 20px 20px;
}

#allData {
  margin-top: 2rem;
}

.viewBtn,
.remove {
  width: 7rem;
  margin: 5px 0px;
}

.card-view-title {
  min-width: 25%;
  max-width: 30%;
}

.card-view {
  margin: 0.5rem 0;
}

.card-view-value button {
  margin-right: 1rem;
}

html {
  visibility: visible;
  opacity: 1;
}
